---
layout: page
title: Galerie
eleventyNavigation:
  key: Galerie
---

<div x-data="{open: false}">
  <button class:"border-blue-200" @click="open = !open">
    Affiche/Cache dialogue
  </button>
  <dialog class:"border-blue-200" :open="open">
    Contenu dialogue
  </dialog>
</div>